/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    
}
/* 
general
 */

 body{
  background-color: #202020;
 }

 .container{
    max-width: 1000px;
    margin: 0 auto ;
 }


 /* 
 header
  */
 
  .header-top{
    background-color: #ADD8E6;
    padding: 20px;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
  }


  .item-20{
    background-color: #DAA520 ;
    border: 1px dashed black;
    width: 20%;
  
  }

  .item-40{
    background-color: #DAA520 ;
    border: 1px dashed black;
    width: 40%;
  }

  .header-bottom{
    background-color: #00008B ;
    min-height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
  
  }

  .header-bottom > div{
    background-color: #EE82EE;
    width: 60%;
    
  }

  /* 
  main
  */

  .first-section-main{
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .first-section-main :first-child{
    background-color:#1E90FF;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .first-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .second-section-main{
    background-color: #D3D3D3 ;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .second-section-main :first-child{
    background-color:#1E90FF;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .second-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .third-section-main{
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .third-section-main :first-child{
    background-color:#1E90FF;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .third-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .fourth-section-main{
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    padding: 20px;
  
  }

  .fourth-section-main :first-child{
    background-color:#228B22;
    border: 1px dashed black;
    min-height: 300px;
    width: 75%;
  }


  /* 
  footer
   */

   .footer-top{
    display: flex;
    justify-content: center;
    padding: 10px;
   }

   .footer-top-left{
    background-color: #F08080;
    width: 18%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .footer-top-right{
    background-color:#20B2AA ;
    width: 56%;
    border: 1px dashed black;
    min-height: 300px;
    display: flex;

  }

  .footer-top-right-child{
    width: 25%;
    border: 1px dashed white;
  }

  .footer-bottom{
    background-color: #7FFFD4;
    max-width: 73%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .footer-bottom-child{
    background-color: #FFB6C1;
    border: 1px dashed black;
    text-align: center;
    line-height: 30px;
  }
